body{
    background-color:  #f9fee5;
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
}

.comments{
    border: 3px solid blue;
}

.commentBox{
    margin: auto;
    width: 75%;
    padding: 10px;
    border: 3px solid blue;
}

.comment{
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
      display: grid
}

.commentUserName{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end:2;
}

.commentCreatedAt{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
}

.generalPostCard{
    margin: auto;
    width: 75%;
    padding: 10px;
    border: 3px solid blue;
}

.ridePostCard{
    margin: auto;
    width: 75%;
    padding: 10px;
    border: 3px solid red;
}

h1{
    font-family: monaco
}

h2{
    font-family: monaco
}

h3{
    font-family: monaco
}

p{
    font-family: monaco
}


